
.container {
	width: 80vw;
}

.page #story {
	float: left;
	margin-left: 50px;
	width: 550px;
	font-size: 20px;
}

.panel-title {
	font-size: 28px;
}

.panel-body {
	font-size: 18px;
}
#content {
	float: left;
	width: 500px;
}
#logo {
	text-align: center;
}

#wiheart-logo {
	width: 250px;
	border-radius: 5px;
}

div#content a {
	text-decoration: none;
	color: #ff9797;
}

footer {
	margin-bottom: 10px;	
}