
.page #story {
	float: left;
	margin-left: 50px;
	width: 550px;
	font-size: 20px;
}

.panel-title {
	font-size: 28px;
}

#logo {
	text-align: center;
}

#wiheart-logo {
	width: 250px;
	border-radius: 5px;
}


footer {
	margin-bottom: 10px;	
}