
.top-navbar { 
	background-color: #479AC7;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 0;
}

/* override font color */
.navbar-default .navbar-brand {
    color: white;
}

/* override font color */
.navbar-default .navbar-nav > li > a {
    color: white;
}

/******** End of Settng of Top NavBar **********/



.page1 {
	position: relative;
	height: 100vh;
}

.page1 #story {
	float: left;
	margin-left: 50px;
	width: 550px;
}

.page1 #photo {
	float: right;
	margin-right: 50px
}

#figure1 {
	width: 400px; 
	height: 450px;
	border-radius: 5px;
}

/******** End of Settng of Figure 1 **********/



.page2 {
	position: relative;
	height: 100vh;
}

/******** End of Settng of Figure 2 **********/