
.top-navbar { 
	background-color: #479AC7;
}

/* override */
.navbar-default .navbar-brand {
    color: white;
}

/* override */
.navbar-default .navbar-nav > li > a {
    color: white;
}

/* override */
.glyphicon {
	color: white;
	float: right;
}

/* override */
.glyphicon-menu-hamburger{
	margin-top: 10px;
	width: 20px;
}

/******** End of Settng of Top NavBar **********/

#figure2 {
	width: 90vw; 
	border-radius: 5px;
}

#apple-store {
	width: 135px; 
	height: 40px;	
}

#google-play {
	width: 135px; 
	height: 44px;		
}

/******** End of Settng of Page1 **********/


.page2 {
	margin-bottom: 100px;
}

/******** End of Settng of Page2 **********/

footer {
	margin-top: 50px;
	text-align: center;
}