
.container {
	margin-top: 50px
}

.panel-default {
	width: 40%;
	margin: auto;
}

.panel-body {
	text-align: center;
}

#login-form {
	margin: auto;	
}

#login-form input {
	text-align: center;
}

.to-register {
	font-size: 18px
}

footer {
	margin-top: 120px
}